@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.svg-calLoader {
  width: 230px; height: 230px;
 transform-origin: 115px 115px;
 animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane { fill: white }
.cal-loader__path { stroke: #19366B; animation: 1.4s ease-in-out infinite loader-path; }

@keyframes loader-spin {
 to{
   transform: rotate(360deg);
 }
}
@keyframes loader-path {
 0%{
   stroke-dasharray:  0, 580, 0, 0, 0, 0, 0, 0, 0;
 }
 50%{
   stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
 }
 100%{
   stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
 }
}

.App{ animation: changeBg 50s infinite; width:100%; height: 92vh; }

@keyframes changeBg{
   0%,100%  {background-image: url("https://i.imgur.com/4ABXaYi.jpg"); background-size: auto; object-fit: cover; background-repeat:no-repeat; background-size:cover; background-position: center center;}
   25% {background-image: url("https://i.imgur.com/UoyIzbf.jpg"); background-size: auto; object-fit: cover;background-repeat:no-repeat; background-size:cover; background-position: center center;}
   50% {background-image: url("https://i.imgur.com/8P6kkEn.jpg"); background-size: auto; object-fit: cover;background-repeat:no-repeat; background-size:cover; background-position: center center;}
   75% {background-image: url("https://i.imgur.com/1OBgSUC.png"); background-size: auto; object-fit: cover;background-repeat:no-repeat; background-size:cover; background-position: center center;}
}

.scroll {

}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00205B;
}
